@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #e84393;
}

.btn {
  display: inline-block;
  border: 0.2rem solid #222;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  background: #fff;
  color: #222;
  cursor: pointer;
}

.btn:hover {
  background: #e84393;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}

.heading h1 {
  font-size: 3.5rem;
  color: #222;
}

.heading p {
  margin: 1rem auto;
  color: #777;
  font-size: 1.5rem;
  max-width: 50rem;
  line-height: 2;
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
}

section {
  padding: 5rem 9%;
}

.header {
  padding: 1.6rem 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header .logo img {
  height: 4rem;
}

.header .search-form {
  height: 5rem;
  width: 50rem;
  background: #f5f5f5;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
}

.header .search-form input {
  background: none;
  font-size: 1.6rem;
  width: 100%;
  color: #777;
  text-transform: none;
}

.header .search-form label {
  font-size: 2rem;
  margin-left: .7rem;
  color: #222;
  cursor: pointer;
}

.header .search-form label:hover {
  color: #e84393;
}

.header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .icons div {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  background: #f5f5f5;
  color: #222;
  cursor: pointer;
  font-size: 1.8rem;
  margin-left: .3rem;
  text-align: center;
  border-radius: .5rem;
}

.header .icons div a {
  color: #222;
}

.header .icons div:hover {
  background: #e84393;
  color: #fff;
}

.header .icons div:hover a {
  color: #fff;
}

.header #search-btn {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  z-index: 1010;
  background: url(../images/navbar-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-right: 15%;
  gap: 1rem;
}

.navbar.active {
  left: 0;
}

.navbar #close-navbar {
  position: absolute;
  top: 3rem;
  right: 3rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: #fff;
  color: #222;
  cursor: pointer;
  font-size: 3rem;
}

.navbar #close-navbar:hover {
  background: #e84393;
  color: #fff;
}

.navbar a {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
}

.navbar a:hover {
  color: #e84393;
  letter-spacing: .2rem;
}

.home {
  padding: 0;
}

.home .slide {
  display: none;
  height: calc(100vh - 8rem);
}

.home .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slide .content {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #fce9fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.home .slide .content img {
  width: 25rem;
  height: 25rem;
  margin-bottom: 1.5rem;
  display: none;
  -webkit-animation: fadeUp .2s linear backwards .2s;
          animation: fadeUp .2s linear backwards .2s;
}

.home .slide .content span {
  color: #e84393;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  padding-bottom: .2rem;
  display: block;
  -webkit-animation: fadeUp .2s linear backwards .4s;
          animation: fadeUp .2s linear backwards .4s;
}

.home .slide .content h3 {
  font-size: 5rem;
  font-weight: 500;
  color: #222;
  text-transform: uppercase;
  -webkit-animation: fadeUp .2s linear backwards .6s;
          animation: fadeUp .2s linear backwards .6s;
}

.home .slide .content .btn {
  -webkit-animation: fadeUp .2s linear backwards .8s;
          animation: fadeUp .2s linear backwards .8s;
}

.home .slide .content .controls {
  position: absolute;
  bottom: 1%;
  right: -7rem;
}

.home .slide .content .controls div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 3rem;
  background: #fff;
  color: #222;
  margin: 0 .9rem;
  cursor: pointer;
}

.home .slide .content .controls div:hover {
  background: #e84393;
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home .slide .img {
  width: 50%;
  height: 100%;
}

.home .slide .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(14rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
}

.category .box {
  padding: 1rem;
  background: #f5f5f5;
  text-align: center;
  border-top: .5rem;
  border-radius: .5rem;
}

.category .box:hover {
  background: #222;
}

.category .box:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.category .box:hover p {
  color: #fff;
}

.category .box img {
  height: 10rem;
  margin-bottom: 1rem;
}

.category .box p {
  font-size: 1.7rem;
  color: #222;
}

.about {
  background: url(../images/about-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .content {
  background: #fff;
  width: 55rem;
  padding: 3rem;
}

.about .content span {
  font-size: 2rem;
  color: #e84393;
}

.about .content h3 {
  font-size: 3rem;
  color: #222;
  margin-top: 1rem;
}

.about .content p {
  font-size: 1.5rem;
  color: #777;
  padding: 1rem 0;
  line-height: 2;
}

.shop .slide {
  width: 30rem;
  border: 0.2rem solid #222;
  background: #fff;
}

.shop .slide:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shop .slide:hover .image .icons {
  right: 1rem;
}

.shop .slide .image {
  width: 100%;
  height: 25rem;
  position: relative;
  overflow: hidden;
}

.shop .slide .image .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .5rem 1.5rem;
  font-size: 1.5rem;
  background: #e84393;
  color: #fff;
  z-index: 10;
}

.shop .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .slide .image .icons {
  position: absolute;
  bottom: 0;
  right: -8rem;
}

.shop .slide .image .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  display: block;
  background: #fff;
  color: #222;
  font-size: 2rem;
  border: 0.2rem solid #222;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  text-align: center;
}

.shop .slide .image .icons a:hover {
  background: #e84393;
  color: #fff;
}

.shop .slide .content {
  padding: 1.5rem;
  border-top: 0.2rem solid #222;
}

.shop .slide .content .stars {
  padding-bottom: .5rem;
}

.shop .slide .content .stars .fas {
  font-size: 1.5rem;
  color: #777;
}

.shop .slide .content p {
  font-size: 2rem;
  color: #222;
  line-height: 2;
}

.shop .slide .content .pric {
  font-size: 2rem;
  color: #e84393;
}

.shop .slide .content .pric span {
  font-size: 1.4rem;
  color: #777;
  text-decoration: line-through;
}

.shop .swiper-button-next::after,
.shop .swiper-button-prev::after {
  font-size: 2rem;
  color: #222;
}

.shop .swiper-pagination {
  margin-bottom: -1rem;
}

.gallery {
  background: #f5f5f5;
}

.gallery .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.gallery .images a {
  height: 30rem;
  overflow: hidden;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.8rem solid #fff;
}

.gallery .images a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.our-team .team-n {
  border: 0.2rem solid #222;
}

.our-team .team-n:hover .image .share {
  left: 0;
}

.our-team .team-n:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.our-team .team-n .image {
  height: 40rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.our-team .team-n .image .share {
  position: absolute;
  top: 0;
  left: -8rem;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  gap: 1rem;
}

.our-team .team-n .image .share a {
  background: #222;
  border: 0.2rem solid #fff;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
}

.our-team .team-n .image .share a:hover {
  background: #fff;
  color: #222;
}

.our-team .team-n .image img {
  width: 100%;
  height: 100%;
}

.our-team .team-n .content {
  border-top: 0.2rem solid #222;
  padding: 1.5rem;
  text-align: center;
}

.our-team .team-n .content h3 {
  font-size: 2rem;
}

.our-team .team-n .content span {
  font-size: 1.5rem;
  color: #e84393;
}

.arrivals .arrivals-slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.arrivals .arrivals-slider .slider {
  width: 30rem;
  text-align: center;
  border: 0.2rem solid #222;
}

.arrivals .arrivals-slider .slider:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.arrivals .arrivals-slider .slider .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.arrivals .arrivals-slider .slider .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrivals .arrivals-slider .slider .content {
  padding: 1.5rem;
  border-top: 0.2rem solid #222;
}

.arrivals .arrivals-slider .slider .content p {
  font-size: 2rem;
  color: #222;
  line-height: 2;
}

.arrivals .arrivals-slider .slider .content .pric {
  font-size: 2rem;
  color: #e84393;
}

.arrivals .arrivals-slider .slider .content .pric span {
  font-size: 1.4rem;
  color: #777;
  text-decoration: line-through;
}

.arrivals .swiper-button-next::after,
.arrivals .swiper-button-prev::after {
  font-size: 2rem;
  color: #222;
}

.arrivals .swiper-pagination {
  margin-bottom: -1rem;
}

.reviews .review-n {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .review-n .image {
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews .review-n .image img {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  display: inline-block;
}

.reviews .review-n .image .info {
  display: inline-block;
}

.reviews .review-n .image .info h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.reviews .review-n .image .info .stars i {
  color: #e84393;
  font-size: 1.1rem;
}

.reviews .review-n p {
  background: #f5f5f5;
  padding: 2rem;
  font-size: 1.5rem;
  position: relative;
  line-height: 1.5;
  color: #777;
  margin-top: 2rem;
  border-radius: .5rem;
}

.reviews .review-n p::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 2rem;
  background: #f5f5f5;
  height: 2rem;
  width: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.services {
  background: #f5f5f5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.services .service {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background: #fff;
  border: 0.2rem solid #222;
  height: 20rem;
  text-align: center;
}

.services .service:hover {
  background: #222;
}

.services .service:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.services .service:hover h3 {
  color: #fff;
}

.services .service:hover p {
  color: #fff;
}

.services .service img {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1rem;
}

.services .service h3 {
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.services .service p {
  color: #777;
  font-size: 1.5rem;
  line-height: 1.5;
}

.blogs .blogs-slides {
  padding: 2rem 0;
}

.blogs .blogs-slides .blogs-n .image {
  position: relative;
  overflow: hidden;
  height: 30rem;
}

.blogs .blogs-slides .blogs-n .image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .blogs-slides .blogs-n .image:hover .bar {
  bottom: 0;
}

.blogs .blogs-slides .blogs-n .image img {
  width: 100%;
  height: 100%;
}

.blogs .blogs-slides .blogs-n .image .bar {
  position: absolute;
  bottom: -8rem;
  right: 0;
  left: 0;
  background: #fff;
  height: 5rem;
  border: 0.2rem solid #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
}

.blogs .blogs-slides .blogs-n .image .bar a {
  font-size: 1.5rem;
  color: #222;
}

.blogs .blogs-slides .blogs-n .image .bar a:hover {
  color: #e84393;
}

.blogs .blogs-slides .blogs-n .image .bar a i {
  color: #e84393;
}

.blogs .blogs-slides .blogs-n .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs .blogs-slides .blogs-n .content h1 {
  font-size: 2rem;
  margin-top: 1rem;
}

.blogs .blogs-slides .blogs-n .content p {
  font-size: 1rem;
  padding: 1rem;
}

.blogs .blogs-slides .blogs-n .content .btn {
  padding: 1rem 2rem;
  margin: 1rem;
}

.blogs .swiper-button-next::after,
.blogs .swiper-button-prev::after {
  font-size: 2rem;
  color: #222;
}

.blogs .swiper-pagination {
  margin-bottom: -1rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%m;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home .slide .content {
    padding: 2rem;
  }
  .home .slide .content span {
    font-size: 2rem;
  }
  .home .slide .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .header #search-btn {
    display: inline-block;
  }
  .header .search-form {
    position: absolute;
    top: 99%;
    left: 0;
    height: 6rem;
    width: 100%;
    border-top: 0.2rem solid #222;
    border-bottom: 0.2rem solid #222;
    background: #fff;
    display: none;
    -webkit-animation: fadeUp .2s linear backwards;
            animation: fadeUp .2s linear backwards;
  }
  .header .search-form.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home .slide {
    position: relative;
    height: calc(100vh - 6rem);
  }
  .home .slide .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .slide .content img {
    display: inline-block;
  }
  .home .slide .content .controls {
    position: static;
    margin-top: 3rem;
  }
  .home .slide .content .controls div {
    margin: 0 .5rem;
  }
  .home .slide .img {
    width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%m;
  }
}

.footer {
  background: #f5f5f5;
}

.footer .boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.footer .boxes .box {
  padding: 1rem;
}

.footer .boxes .box h3 {
  font-size: 2.2rem;
  margin: 1rem 0;
}

.footer .boxes .box p {
  color: #777;
  font-size: 1.5rem;
  padding: 1rem;
}

.footer .boxes .box a {
  display: block;
  color: #777;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.footer .boxes .box a:hover {
  color: #e84393;
}

.footer .boxes .box a:hover .fas {
  padding-right: 1.2rem;
}

.footer .boxes .box a .fas {
  color: #e84393;
  padding-right: .5rem;
}

.footer .boxes .box .icons {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .boxes .box .icons a {
  height: 4.5rem;
  width: 4.5rem;
  border: 0.2rem solid #222;
  background: #fff;
  font-size: 1.7rem;
  text-align: center;
  margin-right: .3rem;
  line-height: 4rem;
}

.footer .boxes .box .icons a:hover {
  background: #e84393;
}

.footer .boxes .box .icons a:hover i {
  color: #fff;
}

.footer .boxes .box .icons a i {
  color: #222;
}

.footer .boxes .box form .email {
  width: 100%;
  border: 0.2rem solid #222;
  font-size: 1.6rem;
  color: #777;
  padding: 1.2rem 1.4rem;
  text-transform: none;
}

.footer .credit {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  border-top: 0.2rem solid #222;
  padding-top: 3rem;
  color: #777;
}

.footer .credit span {
  color: #e84393;
}
/*# sourceMappingURL=style.css.map */